<%= link_to '< Back', articles_path %>

<div>
  <h1><%= @article.title %></h1>
  <p><%=  @article.text  %></p>

  <%= link_to 'Edit', edit_article_path(@article) %>
</div>

<div class="comments">
  <h2>Comments:</h2>
  <%= render @article.comments %>
</div>

<%= render 'comments/form' %>
